/* CSS reset */
/*
  1. Use a more-intuitive box-sizing model.
*/
*, *::before, *::after {
  box-sizing: border-box;
}
/*
  2. Remove default margin
*/
* {
  margin: 0;
}
/*
  3. Allow percentage-based heights in the application
*/
html, body {
  height: 100%;
}
/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  background-color: #FCFAF7;
}
/*
  6. Improve media defaults
*/
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
/*
  7. Remove built-in form typography styles
*/
input, button, textarea, select {
  font: inherit;
}
/*
  8. Avoid text overflows
*/
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
/*
  9. Create a root stacking context
*/
#root, #__next {
  isolation: isolate;
}
/* End css reset */

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 4px 16px;
  background-color: hsl(345deg 100% 47%);
  color: #FFFFFF;
}
.nav-text {
  font-size: 16px;
  font-weight: 600;
}

.pushable {
  position: relative;
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  outline-offset: 4px;
  transition: filter 250ms;
}
.shadow {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 6px;
  background: hsl(0deg 0% 0% / 0.25);
  will-change: transform;
  transform: translateY(2px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.edge {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: linear-gradient(
    to left,
    hsl(340deg 100% 16%) 0%,
    hsl(340deg 100% 32%) 8%,
    hsl(340deg 100% 32%) 92%,
    hsl(340deg 100% 16%) 100%
  );
}
.front {
  display: block;
  position: relative;
  padding: 8px 21px;
  border-radius: 6px;
  font-size: 1rem;
  font-weight: 800;
  color: white;
  background: hsl(345deg 100% 47%);
  will-change: transform;
  transform: translateY(-4px);
  transition:
    transform
    600ms
    cubic-bezier(.3, .7, .4, 1);
}
.pushable:hover {
  filter: brightness(110%);
}
.pushable:hover .front {
  transform: translateY(-6px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .front {
  transform: translateY(-2px);
  transition: transform 34ms;
}
.pushable:hover .shadow {
  transform: translateY(4px);
  transition:
    transform
    250ms
    cubic-bezier(.3, .7, .4, 1.5);
}
.pushable:active .shadow {
  transform: translateY(1px);
  transition: transform 34ms;
}
.pushable:focus:not(:focus-visible) {
  outline: none;
}
.header {
  display: flex;
  justify-content: center;
  margin: auto;
  max-width: 50%;
  font-size: 16px;
  font-style: italic;
  text-align: center;
  margin-top: 2rem;
}
#projects-container, #project-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  max-width: 70%;
  margin: 16px auto;
}
#projects-header, .item-header {
  display: flex;
  flex: 1;
  flex-wrap: wrap ;
  justify-content: space-between;
  align-items: center;
  margin: 8px;
}
#projects-title, .item-due-date {
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  font-size: large;
}
#projects-body > ul {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: center;
}
#projects-body .project-item {
  display: flex;
  align-items: center;
  justify-content: left;
  margin: 0.5rem;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 2px rgba(236, 233, 233, 0.75);
  background-color: #FFFFFF;
}
.project-item > .project-title {
  flex: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: 0.5rem;
  color: hsl(345deg 100% 47%);
  cursor: pointer;
  font-size: large;
}
.project-item button {
  margin: 0.5rem;
  padding: 0.5rem;
  border: none;
  border-radius: 0.5rem;
  box-shadow: .5px .5px .2px .2px rgba(107, 103, 103, 0.1);
}
.project-item button:hover {
  filter: brightness(95%);
  cursor: pointer;
}
#new-project-container {
  display: flex;
 
}
 
.project-item input {
  flex: 1;
  margin: 0.5rem;
  padding: 0.5rem;
  border: 1px solid #000;
  border-radius: 0.5rem;
}
.project-item input:focus {
  outline: none;
  border: 2px solid rgb(157, 191, 243);
}
#back-to-projects {
  color: hsl(345deg 100% 47%);
  cursor: pointer;
}
.title-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task-body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  width: 100%;
  height: 100%;
  padding: 16px;
  border: none;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 2px rgba(233, 231, 231, 0.75);
  background-color: #FFFFFF;
}
.task-description {
  display: flex;
  justify-content: start;
  margin-top: 8px;
}
.task-input-item {
  display: flex;
  border-radius: 0.5rem;
  box-shadow: 1px 1px 1px 2px rgba(233, 231, 231, 0.75);
}
.task-title {
  cursor: pointer;
}
.task-title:hover {
  color: hsl(345deg 100% 47%);
}
.task-description {
  cursor: pointer;
}
.task-description:hover {
  color: hsl(345deg 100% 47%);
}
.task-priority {
  cursor: pointer;
}
.task-priority:hover {
  color: hsl(345deg 100% 47%);
}
.priority-input {
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 1px 2px rgba(233, 231, 231, 0.75);
}
.item-due-date {
  cursor: pointer;
}
.item-due-date:hover {
  color: hsl(345deg 100% 47%);
}
.date-input {
  border-radius: 4px;
  cursor: pointer;
  background-color: transparent;
  border: none;
  box-shadow: 1px 1px 1px 2px rgba(233, 231, 231, 0.75);
}
.hamburger-menu {
  display: none;
}
#tasks-list {
  margin-bottom: 32px;
}
@media (max-width: 800px) {
  .nav-text {
    display: none;
  }
  .hamburger-menu {
    display: block;
    font-size: 24px;
    font-weight: bolder;
    margin-left: auto;
    cursor: pointer;
  }
  #projects-container, #project-container {
    max-width: 90%;
  }
  .header {
    max-width: 80%;
  }
  .task-description {
    font-size: 12px;
    overflow: hidden;
  }
  .title-container .task-title {
    font-size: 12px;
  }

  .task-priority {
    font-size: 12px;
  }
  #back-to-projects {
    font-size: 12px;
  }
  .main-title {
    font-size: 14px;
  }
  .project-item p.project-title {
    font-size: 12px;
  }
  #projects-title {
    font-size: 16px;
  }
  .front {
    font-size: 12px;
    padding: 4px 14px;
  }
  #project-input, #task-input {
    font-size: 12px;
  }
  
}
